{% extends "base.html" %}
{% block content %}
<div class="bg">
    <div class="login">
        <h2>Company Name</h2>
        <form action="" class="needs-validation" method="post" novalidate id="loginForm">
            {{ form.hidden_tag() }}
            <div class="input-group">
                {{ form.prev_password(size=32) }} <br/>
                <span>{{ form.prev_password.label }}</span>
            </div>
          
            <div class="input-group">
                {{ form.new_password(size=32) }} <br/>
                <span>{{ form.new_password.label }}</span>
            </div>

            <div class="input-group">
                {{ form.repeat_password(size=32) }} <br/>
                <span>{{ form.repeat_password.label }}</span>
            </div>
           
            <div class="input-group">
                {{ form.submit() }}
            </div>
        </form>
    </div>
</div>
{% endblock %}
