{% extends "base.html" %}
{% block content %}
<div class="bg">
    <div class="login">
        <h2>Company Name</h2>
        <form action="" class="needs-validation" method="post" novalidate id="loginForm">
            {{ form.hidden_tag() }}
            <div class="input-group">
                {{ form.username(size=32)}}
                <span>{{ form.username.label }}</span>

                {% for error in form.username.errors %}
                <p style="color: red;">[{{ error }}]</p>
                {% endfor %}
            </div>
          
            <div class="input-group">
                {{ form.password(size=32)}}
                <span>{{ form.password.label }}</span>

                {% for error in form.password.errors %}
                <p style="color: red;">[{{ error }}]</p>
                {% endfor %}
            </div>
           
            <div class="input-group">
                {{ form.submit() }}
            </div>
    
            <label style="display: flex; align-items: center;     ">
            <div style="margin-top: 0px !important;
            margin-right: 5px !important;">
                    {{ form.remember_me() }}
                </div>
                 {{ form.remember_me.label (style="margin-bottom: 0px !important") }}
            </label>
        </form>
    </div>
</div>
{% endblock %}
