{% extends 'base.html' %}
{% from "macros.html" import render_admin_field with context %}

{% block head %}
{% if data.title %}
<title> {{ data.title }} </title>
{% else %}
<title> Purchase </title>
{% endif %}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <form name="register" id="register" class="admin-form needs-validation form {{ submitted }}" method="post"
            novalidate>
            {{ form.hidden_tag() }}

            {% if data.heading %}
            <h1> {{ data.heading }} </h1>
            {% else %}
            <h1> Purchase </h1>
            {% endif %}
            {{ render_admin_field(form.name, class_="form-control", placeholder="Variety Name", size=32) }}

            <div class="row">
                <div class="col-md-4 offset-md-0">
                    {{ form.submit(class_="btn btn-primary") }}
                </div>
                <div class="col-md-2 offset-md-6">
                    <button class="btn btn-primary">Reset</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}