{% extends 'base.html' %}
{% from "macros.html" import render_admin_field with context %}

{% block head %}
{% if data.title %}
<title> {{ data.title }} </title>
{% else %}
<title> Add User </title>
{% endif %}
{% endblock %}

<script>
    function validate() {
        var select = document.getElementById('roles');
        return !select.value == 0;
    }
</script>

{% block content %}
<div class="row">
    <div class="col-md-12">
        <form name="register" id="register" method="post" class="admin-form needs-validation form {{ submitted }}"
            novalidate onsubmit="return validate()">
            {{ form.hidden_tag() }}

            {% if data.heading %}
            <h1> {{ data.heading }} </h1>
            {% else %}
            <h1> Add User </h1>
            {% endif %}

            {{ render_admin_field(form.username, class_="form-control", placeholder="User Name", size=32) }}
            {{ render_admin_field(form.password, class_="form-control", placeholder="Password", size=32) }}
            {{ render_admin_field(form.password2, class_="form-control", placeholder="Confirm Passsword", size=32) }}
            {{ render_admin_field(form.email, class_="form-control", placeholder="Email") }}
            {{ render_admin_field(form.roles, class_="form-control") }}

            <label style="display: flex; align-items: center;">
                <div style="margin-top: 0px !important; margin-right: 5px !important;">
                    {{ form.active() }}
                </div>
                {{ form.active.label(style="margin-bottom: 0px !important") }}
            </label>

            <div class="row">
                <div class="col-md-4 offset-md-0">
                    {{ form.submit(class_="btn btn-primary") }}
                </div>
                <div class="col-md-2 offset-md-6">
                    <button class="btn btn-primary">Reset</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}