{% extends 'base.html' %}

{% block head %}
    {% if data.title %}
        <title> {{ data.title }} </title>
    {% else %}
        <title> Purchase </title>
    {% endif %}
{% endblock %}
    
{% block content %}

{% set submitted = "" %}
{% if is_submitted == true %}
    {% set submitted = 'submitted' %}
{% endif %}

<form name="purchase" id="purchase" method="post" class="needs-validation form {{ submitted }}" novalidate onsubmit=updatePurchaseAmount()>
    {{ form.hidden_tag() }}
    <div class="col-md-6">
        <div class="form-group row">
            {% if data.heading %}
                <h1> {{ data.heading }} </h1>
            {% else %}
                <h1> Purchase </h1>
            {% endif %}

            <div class="row">
                <div class="col-md-12">
                    {{ form.rst_number.label(class_="col-sm-4 col-form-label") }}
                    <div class="col-sm-8">
                        {{ form.rst_number(class_="form-control", placeholder="RST Number" ,required="true") }}

                        {% for error in form.rst_number.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    {{ form.weight.label(class_="col-sm-4 col-form-label") }}
                    <div class="col-sm-8">
                        {{ form.weight(class_="form-control", placeholder="Weight") }}

                        {% for error in form.weight.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    {{ form.variety.label(class_="col-sm-4 col-form-label") }}

                    <div class="col-sm-8">
                        {{ form.variety(class_="form-control") }}

                        {% for error in form.variety.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    {{ form.agent.label(class_="col-sm-4 col-form-label") }}

                    <div class="col-sm-8">
                        {{ form.agent(class_="form-control") }}

                        {% for error in form.agent.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    {{ form.moisture.label(class_="col-sm-4 col-form-label") }}
                    <div class="col-sm-8">
                        {{ form.moisture(class_="form-control", placeholder="Moisture") }}

                        {% for error in form.moisture.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    {{ form.rate.label(class_="col-sm-4 col-form-label") }}
                    <div class="col-sm-8">
                        {{ form.rate(class_="form-control", placeholder="Rate") }}

                        {% for error in form.rate.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    {{ form.date.label(class_="col-sm-4 col-form-label") }}
                    <div class="col-sm-8" data-provide="datepicker">
                        {{ form.date(class_="form-control datepicker", placeholder="MM-DD-YYYY", type="date", required="true") }}

                        {% for error in form.date.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </div>
                    <!--div class="input-group-addon">
                        <span class="glyphicon glyphicon-th"></span>
                    </div-->

                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    {{ form.amount.label(class_="col-sm-4 col-form-label", disabled=disabled) }}
                    <div class="col-sm-8">
                        {{ form.amount(class_="form-control", placeholder="Amount") }}

                        {% for error in form.amount.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </div>
                </div>

            </div>
            <div class="col-sm-offset-4 col-sm-8">
                {{ form.submit(class_="btn btn-default") }}
            </div>
        </div>
    </div>
</form>


{% include 'core/purchases_report.html' %}

{% endblock %}
