{% extends 'base.html' %}
{% from "macros.html" import render_report_detail_field with context %}

{% block head %}
{% if data.title %}
<title> {{ data.title }} </title>
{% else %}
<title> Purchase Report </title>
{% endif %}
{% endblock %}

{% block content %}
<div class=" row">
    <div class="col-md-12">
        <div class="form admin-form">
            {% if data.heading %}
            <h1> {{ data.heading }} </h1>
            {% else %}
            <h1> Purchase Report </h1>
            {% endif %}

            {% set input_data = [
                ("RST Number", form_data.rstnumber)
                ,("Weight", form_data.weight)
                ,("Variety", form_data.variety.name)
                ,("Agent", form_data.agent.name)
                ,("Moisture", form_data.moisture)
                ,("Rate", form_data.rate)
                ,("Date", form_data.timestamp)
                ,("Amount", form_data.amount)
	        ] %}

            {% for each in input_data %}
            {{ render_report_detail_field(each[0], each[1]) }}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}