{% extends 'base.html' %}

{% block head %}
{% if data.title %}
<title> {{ data.title }} </title>
{% else %}
<title> Purchase </title>
{% endif %}
{% endblock %}

{% block content %}

{% set submitted = "" %}
{% if is_submitted == true %}
{% set submitted = 'submitted' %}
{% endif %}

{% macro render_report_field(field) %}
<div class="form-group col-md-3">
    {{ field.label }}
    {{ field(**kwargs)|safe }}

    {% for error in field.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
</div>
{% endmacro %}

<div class="col-md-12">
    <form name="report" id="report" method="post" class="needs-validation form {{ submitted }}" novalidate>
        {{ form.hidden_tag() }}

        {% if data.heading %}
        <h1> {{ data.heading }} </h1>
        {% else %}
        <h1> Report </h1>
        {% endif %}

        <div class="row">
            {{ render_report_field(form.from_date, class_="form-control") }}
            {{ render_report_field(form.to_date, class_="form-control") }}
            {{ render_report_field(form.agent, class_="form-control") }}

            <div class="form-group col-md-2">
                <label for="exampleInputPassword1"></label>
                <button class="btn btn-primary" style="margin-top: 7px;height: 37.99px;">Submit</button>
            </div>
        </div>
    </form>

    {% include 'core/' + data.form_type + 's_report.html' %}
</div>

{% endblock %}