{% extends 'base.html' %}
{% from "macros.html" import render_report_detail_field with context %}

{% block head %}
{% if data.title %}
<title> {{ data.title }} </title>
{% else %}
<title> Sale Report </title>
{% endif %}
{% endblock %}

{% block content %}
<div class=" row">
    <div class="col-md-12">
        <div class="form admin-form">
            {% if data.heading %}
            <h1> {{ data.heading }} </h1>
            {% else %}
            <h1> Sale Report </h1>
            {% endif %}

            {% set input_data = [
                ("Party Name", form_data.party_name)
                ,("Party Address", form_data.party_address)
                ,("GST Number", form_data.gst_number)
                ,("Vehicle Number", form_data.vehicle_number)
                ,("No of Bags", form_data.no_of_bags)
                ,("Variety", form_data.variety.name)
                ,("Agent", form_data.agent.name)
                ,("Date", form_data.timestamp)
                ,("Quintol", form_data.quintol)
                ,("Rate", form_data.rate)
                ,("Amount", form_data.amount)
            ] %}

            {% for each in input_data %}
            {{ render_report_detail_field(each[0], each[1]) }}
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}