{% extends 'base.html' %}
{% from "macros.html" import render_field with context %}

{% block head %}
{% if data.title %}
<title> {{ data.title }} </title>
{% else %}
<title> Sale </title>
{% endif %}
{% endblock %}

<input type="checkbox" name="Boiled" value="1"> Boiled <br>
<input type="checkbox" name="HalfBoiled" value="1"> Half Boiled <br>

{% block content %}

{% set submitted = "" %}
{% if is_submitted == true %}
{% set submitted = 'submitted' %}
{% endif %}
<div class="row">
    <div class="col-md-4">
        <form name="sale" id="sale" method="post" class="needs-validation user-form form {{ submitted }}" novalidate
            onsubmit=updateSalesAmount()>
            {{ form.hidden_tag() }}

            {% if data.heading %}
            <h1> {{ data.heading }} </h1>
            {% else %}
            <h1> Sale </h1>
            {% endif %}

            {{ render_field(form.party_name, class_="form-control", placeholder="Party Name") }}
            {{ render_field(form.party_address, class_="form-control", placeholder="Party Address") }}
            {{ render_field(form.gst_number, class_="form-control", placeholder="GST Number") }}
            {{ render_field(form.vehicle_number, class_="form-control", placeholder="Vehicle Number") }}
            {{ render_field(form.no_of_bags, class_="form-control", placeholder="Number of Bags") }}
            {{ render_field(form.variety, class_="form-control") }}
            {{ render_field(form.agent, class_="form-control") }}
            {{ render_field(form.date, class_="form-control") }}
            {{ render_field(form.quintol, class_="form-control", placeholder="Quintol") }}
            {{ render_field(form.rate, class_="form-control", placeholder="Rate") }}
            {{ render_field(form.amount, class_="form-control", placeholder="Amount") }}

            <div class="row">
                <div class="col-md-4 offset-md-0">
                    {{ form.submit(class_="btn btn-primary") }}
                </div>
                <div class="col-md-4 offset-md-4">
                    <button class="btn btn-primary">Reset</button>
                </div>
            </div>
        </form>
    </div>

    <div class="col-md-8" style="margin-top: 20px; padding-left: 20px; padding-right: 20px;">
        {% with form_type="sale" %}
        {% include "core/_report.html" %}
        {% endwith %}
    </div>
</div>

{% endblock %}